* {
	margin: 0;
	padding: 0;
	text-decoration: none;
}
.datePicker-warp {
	display: none;
	position: absolute;
	margin-left: 50px;
	width: 240px;
	font-size: 16px;
	color: #666;
	box-shadow: 2px 2px 8px 2px rgba(128, 128, 128, .3)
}
.datePicker-warp.datePicker-warp-show {
	display: block;
}
.datePicker-warp .datePicker-header {
	padding: 0 20px;
	height: 49px;
	line-height: 50px;
	text-align: center;
	background-color: #a3dde7;
	border-bottom: 1px solid #ccc;
	font-weight: bold;
}
.datePicker-header .datePicker-curr-month {
	display:block;
	height: 100%;
	width: 30px;
	cursor: pointer;
}
.datePicker-warp .datePicker-btn {
	display: inline-block;
	font-family: serif;
	font-size: 20px;
	width: 20px;
	height: 50px;
	line-height: 50px;
	color: #1abc9c;
	text-align: center;
	cursor: pointer;
}
.datePicker-header .datePicker-prev-btn {
	float: left;
}
.datePicker-header .datePicker-next-btn {
	float: right;
}
.datePicker-warp .datePicker-body table {
	width: 100%;
	background-color: #e1d5d5;
	border-collapse: collapse;
}
.datePicker-body th,
.datePicker-body td {
	height: 30px;
	text-align: center;
}
.datePicker-body th {
	height: 40px;
	font-size: 12px;
	line-height: 40px;
}
.datePicker-body td {
	border: 1px solid #f0f0f0;
	font-size: 10px;
	cursor: pointer;
}
